<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Asuransiku.id</ion-title>
    <ion-buttons slot="primary">
      <ion-button style="margin: 8px; background-color: #3a7be0; border-radius: 8px; width: 42px; height: 42px; ">
        <ion-icon style="color:white;" slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary" routerLink="/home">
      <ion-button style="margin: 8px; background-color: #3a7be0; border-radius: 8px; width: 42px; height: 42px; ">
        <ion-icon style="color:white;" slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Hai Ahmad...</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="p-2 mx-2 my-2 bg-white" style="height: calc(100% - 45%); width: auto; border-radius: 8px;  box-shadow: 2px 2px 12px 0px rgba(0,104,185,0.29);">

  </div>
  <div class="p-2 mx-2 my-2 bg-white" style="height: calc(100% - 45%); width: auto; border-radius: 8px;  box-shadow: 2px 2px 12px 0px rgba(0,104,185,0.29);">

  </div>
  <div class="p-2 mx-2 my-2 bg-white" style="height: calc(100% - 45%); width: auto; border-radius: 8px;  box-shadow: 2px 2px 12px 0px rgba(0,104,185,0.29);">

  </div>

</ion-content>
